<p>Youpi!!!</p>

<form action="/traitement" method="post">
  <div>
    <input type="text" name="fruit" id="fruit" required>
  </div>
  
  <div>
    <input type="submit" value="entrez votre fruit!">
  </div>
</form>


<%= "pommes : #{pommes}"%><br>
<%= "bananes : #{bananes}"%><br>
<%= "cerises : #{cerises}"%><br>
<%= "meles : #{meles}"%><br>